* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  /* background-color: #f6eee7; */
  background-color: #f4dbc6;
  color: #563f2e;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 1;
}
.navbar {
  background: url("nav.jpg");
  color: #fff;
  padding: 15px 20px;

  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.nav-links {
  display: flex;
}

.abc {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.abc1 {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.displaypic {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0 20px 0;
  height: auto;
}

.img-top {
  border-radius: 20px;
  opacity: 0.8;
}
.text {
  color: white;
  font-size: 80px;
  padding: 16px 32px;
}
.cover {
  position: absolute;
  opacity: 0.9;
}
.img-top:hover {
  opacity: 0.3;
  transition: 0.4s ease;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.chepters {
  /* background-color: #f4dbc6; Light brown */
  /* background-color: #f6eee7; */
  /* border: 2px solid #8b5a2b;  */
  background: url("book2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 45%;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: right;
  font-size: 15px;
  font-weight: bold;
}

.sloka1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  max-height: calc(1.2em * 4);
  text-overflow: ellipsis;
  white-space: normal;
}

/* input[type="text"] {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #563f2e;
}

input[type="text"]::placeholder {
  color: #563f2e;
}

input[type="text"]:focus {
  outline: none;
  border-color: #8b5a2b;
}

input[type="text"]:focus::placeholder {
  color: transparent;
} */

.sbutton {
  display: none;
  position: relative;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: url("book2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #563f2e;
  display: block;
  transition: 0.3s;
}
.sidenav .logo1 {
  text-decoration: none;
  /* color: #fff; */
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.darkLight-searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.dark-light i,
.searchToggle i {
  position: absolute;
  /* color: var(--text-color); */
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}

.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: #8b452b;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: #915a26;
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #8b5a2b;
  background-color: bisque;
}
.search-field input ::placeholder {
  color: #8b452b;
}
.search-field i {
  position: absolute;
  color: #8b452b;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}
.btn {
  padding: 8px 16px;
  background-color: #8b5a2b;
  color: #fff;
  border: none;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #563f2e;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
  }

  .logo {
    font-size: 20px;
  }

  .nav-links {
    display: none;
  }

  .abc {
    display: none;
  }

  /* .abc1 {
    display: none;
  } */

  .main {
    padding: 10px;
  }

  .chepters {
    width: 100%;
    padding: 10px;
    height: auto;
  }

  .sloka1 {
    -webkit-line-clamp: 2;
    max-height: calc(1.2em * 2);
  }

  .btn {
    padding: 6px 12px;
    font-size: 14px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-top {
    width: 90%;
    height: auto;
    object-fit: cover;
  }
  .sbutton {
    display: block !important;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    font-size: 18px;
  }

  .text {
    font-size: 40px;
    padding: 8px 16px;
  }

  .chepters {
    padding: 10px;
    font-size: 12px;
  }

  input[type="text"] {
    padding: 6px 10px;
  }

  .btn {
    padding: 6px 12px;
    font-size: 14px;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  /* button {
    padding: 4px 8px;
    font-size: 12px;
  } */
}
